.card {
  width: 225px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.cardHeadear {
  display: flex;
  flex-direction: column;

  img {
    height: 200px;
    border-radius: 10px;
  }

  p {
    text-align: center;
    margin: -10px 10% 0;
    padding: 10px;
    background-color: black;
    color: white;
  }
}

.cardBody {
  margin-top: 20px;
  text-align: center;
}

.cardTag {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  flex-grow: 1;
  padding-top: 20px;
}
